<h1>WSJ Scraper</h1>
<div class="container">
    <div id="articles">hello
        {{#each articles}}
        <div>{{this.title}}</div>
        <a href="{{this.link}}">{{this.link}}</a>
        {{/each}}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script type="text/javascript" src="public/javascipt/yee.js"></script>